body{
    background-image : url(images/background.jpg);
}

.messages{
    display: flex;
    font-size: 20px;
    color: aliceblue;
    flex-direction: column;
    width: 20%;
    margin-bottom: 80px;

    
}

.text1{
    text-align: center;
    font-size: 40px;
    color : black;
    font-weight: bold;
    margin-top: -100px;
}
.text2{
    color : black;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 0 0;
    background-color: aquamarine;
}
#second_container{
    background-image: url(images/Table.jpg);
    height: 550px;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.affichage{
    color : white;
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0 0 10px;
}
#shop{
    background-image: url(images/dollar.jpg);
    overflow-y: auto;
    max-height: 550px;
}
.bonus{
    width: 90%;
    height: 60px;
    border-style: groove;
    border-width: 10px;
}

.bonus2{
    width: 90%;
    height: 60px;
    border-style: groove;
    border-width: 10px;
}
.maincontainer{
    display: flex;
    flex-direction: row;
}
.main{
    width: 200px;
    height: 150px;
}

#click {
    width: 200px;
    height: 150px;
    border-radius: 5%;
    background: url(images/keybord.jpg);
    background-size: 290px auto;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: -19px -3px;
    border: none;
    position: relative;
    top: 25%;
    z-index: 2;
    transition: all .25s ease-in-out;
    outline: 0;
    cursor: url(images/h.png), auto; /* Add this line */
}

#click:hover {
  transform: scale(1.15);
  outline: 0;
}
#click:active {
	transition-duration: .1s;
  transform: scale(1.5);
  outline: 4;
}