@keyframes rotation {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
body {
    display: flex; /* Utilisation de flexbox pour la mise en page */
    height: 100vh; /* Hauteur de la page égale à 100% de la hauteur de la fenêtre */
    margin: 0; /* Supprimer les marges par défaut */
    padding: 0; /* Supprimer les marges intérieures par défaut */
    font-family: Arial, sans-serif;
    background-image: url('../images/hyperdrive.gif'); /* Remplacez 'hyperespace.jpg' par le chemin de votre image d'hyperespace */
    background-size: cover;
    background-repeat: no-repeat;
    color: white; /* Couleur du texte global */
}
.gameFullContent{
    width: 100%;
    display: flex;
}
.alerte {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000; /* couleur de fond */
    border: 1px solid #cccccc; /* bordure */
    padding: 10px; /* espace intérieur */
    border-radius: 5px; /* coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ombre */
    z-index: 1000; /* au-dessus de tout le reste */
}
.astronaut {
    max-width: 10%; /* Largeur maximale de l'image : 10% de la largeur du conteneur */
    max-height: 10%; /* Hauteur maximale de l'image : 10% de la hauteur du conteneur */
  }

/* Left Container */
.leftContainer{
    width: calc(100% * 0.5);
    max-height: 96vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.bottomBadge {
    position: absolute;
    bottom: 5%;
    transform: translateX(-50%);
    width: 10%;
}

.parsecAmountDisplay{
    text-align: center;
    font-size: 45pt;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    margin: 20px 0 0 0px;
}
.pSecRate{
    text-align: center;
    font-size: 25pt;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black
}

/* LUNE */
.lune{
    width: 80%;
    display: block;
    left: 30%;
    right: 30%;
    margin: 0 auto;
    top: 25%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
    animation: rotation 20s linear infinite;
    border-radius: 500px;
}
.lune:hover{
    width: 82%;
    top: 23%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
    cursor:pointer;
}
.lune:active{
    width: 84%;
    top: 27%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
}

/* MAIN Container */
.mainGameContent, .mainGameContainer {
    width: 100%;
    text-align: center;
    position: relative;
}

/* Right Container */
.rightContainer{
    width: calc(100% * 0.5);
    max-height: 96vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid white;
}

/* Item list */
.purchaseList{
    list-style-type: none;
    font-family: "VCR OSD Mono", cursive;
    margin: 0;
    padding: 0;
}

/* Item list item */
.purchaseItem{
    width: 99%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    padding-left: 10px;
    background: linear-gradient(rgb(0, 0, 0), rgb(173, 173, 173));
}
.purchaseItem:hover{
    background: linear-gradient(90deg, rgb(93, 129, 237), rgb(49, 97, 244));
    cursor: pointer;
}
.amountOfItem{
    float: right;
    font-size: 66pt;
    margin-right: 15px;
    color: rgba(0,0,0,.4);
    margin-top: -10px;
    margin-bottom: -50px;
}
.itemHeadline{
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

/* ANIMATION ASTEROIDE */

.falling-asteroid {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    animation: fallAnimation 2s linear; /* Animation de chute pendant 2 secondes */
}

@keyframes fallAnimation {
    from { top: 0; } /* Position initiale en haut de l'écran */
    to { top: 90%; } /* Position finale en bas de l'écran */
}
